In [2]:
mydic={'key1':'Value1', 'key2':'value2'}

In [4]:
mydic['key1']

'Value1'

In [5]:
mydic={'Apple':9.88,'banana':3.49}

In [6]:
mydic['Apple']

9.88

In [7]:
mydic[]

SyntaxError: invalid syntax (<ipython-input-7-066b5d19f497>, line 1)

In [8]:
mydic

{'Apple': 9.88, 'banana': 3.49}

In [4]:
newdic={'letter':['a','b','c','d']}

In [5]:
newdic

{'letter': ['a', 'b', 'c', 'd']}

In [6]:
newdic['letter'][3]

'd'

In [7]:
newdic['letter'][3].upper()

'D'

In [11]:
newdic['vowel'] = ['a','e','i','o','u']

In [12]:
newdic

{'letter': ['a', 'b', 'c', 'd'], 'vowel': ['a', 'e', 'i', 'o', 'u']}

In [13]:
#above addition in dictionaries

In [14]:
newdic.keys()

dict_keys(['letter', 'vowel'])

In [15]:
newdic.values()

dict_values([['a', 'b', 'c', 'd'], ['a', 'e', 'i', 'o', 'u']])

In [16]:
#tuples

In [23]:
tup=(1,2,3,1,2,1,1,1,1,)

In [24]:
tup

(1, 2, 3, 1, 2, 1, 1, 1, 1)

In [25]:
type(tup)

tuple

In [26]:
tup[1]

2

In [27]:
tup.count(1)

6

In [28]:
#Boolean

In [29]:
1>2

False

In [30]:
True

True

In [31]:
False

False

In [32]:
#first letter is in CAPS

In [33]:
#Below IO operations

In [37]:
%%writefile myfile.txt
Welcome to Python 3.6 IO operations
Hello World is first program
second is writing a myfile

Writing myfile.txt

In [38]:
testfile=open('myfile.txt')

In [39]:
testfile=open('filenotthr.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'filenotthr.txt'

In [40]:
pwd

'C:\\Users\\yash_srivastava\\Desktop\\python'

In [41]:
myfile.read()

NameError: name 'myfile' is not defined

In [42]:
testfile.read()

'Welcome to Python 3.6 IO operations\nHello World is first program\nsecond is writing a myfile'

In [43]:
testfile.read()

''

In [44]:
#?? what has just happened, Cursor needs to be reset

In [51]:
testfile.seek(0) #reset the cursor

0

In [48]:
content=testfile.read()

In [52]:
testfile.readlines()

['Welcome to Python 3.6 IO operations\n',
 'Hello World is first program\n',
 'second is writing a myfile']

In [55]:
testfile.close() #close the file after done

In [57]:
testfile.readlines() #failing because of file closed.

ValueError: I/O operation on closed file.

In [61]:
testfile=open('myfile.txt')

In [64]:
#another method of opening the file which does not care about closing the file

In [65]:
with open('myfile.txt') as New_File_method:
    content=New_File_method.read()

In [66]:
content

'Welcome to Python 3.6 IO operations\nHello World is first program\nsecond is writing a myfile'

In [79]:
%%writefile newfile.txt
hello Yash
12345678
abcdfelsl

Overwriting newfile.txt

In [80]:
with open('newfile.txt',mode='r') as f1:
    print(f1.read())

hello Yash
12345678
abcdfelsl

In [81]:
with open('newfile.txt',mode='w') as f1:
    f1.write('\nBye Bye')

In [82]:
with open('newfile.txt',mode='r') as f1:
    print(f1.read())

Bye Bye

In [83]:
%%writefile newfile.txt
hello Yash
12345678
abcdfelsl

Overwriting newfile.txt

In [84]:
with open('newfile.txt',mode='r') as f1:
    print(f1.read())

hello Yash
12345678
abcdfelsl

In [85]:
with open('newfile.txt',mode='a') as f1:
    f1.write('\nBye Bye')

In [86]:
with open('newfile.txt',mode='r') as f1:
    print(f1.read())

hello Yash
12345678
abcdfelsl
Bye Bye

In [87]:
##Starting For Loops

In [88]:
## for loop in TEST

In [102]:
#list
mynum=[1,2,3,4]
for a in mynum:
    print(a)

1
2
3
4

In [103]:
#list 
mystring=['aa','bb','cc']
for s in mystring:
    print(s)

aa
bb
cc

In [101]:
#List with tuples
mystringt=[('a','b'),(1,2),('c',4)]
for t in mystringt:
    print(t)

('a', 'b')
(1, 2)
('c', 4)

In [104]:
#tuples
mystring=(1,2,3,4,5)
for d in mystring:
    print(d)

1
2
3
4
5

In [100]:
#tuples unpacking
mystringt=[('a','b'),(1,2),('c',4)]
for (k,v) in mystringt:
    print(k)
    #print(v)

a
1
c

In [105]:
#Dictionaries
mydict= {'Name':'Yash', 'Age':35}
for a in mydict:
    print(a)

Name
Age

In [114]:
mydict= {'Name':'Yash', 'Age':35}
for a in mydict.items():
    print(a)

('Name', 'Yash')
('Age', 35)

In [115]:
for a,b in mydict.items():
    print(a,b)

Name Yash
Age 35

In [117]:
for a in mydict.values():
    print(a)

Yash
35

In [118]:
#While loops

In [119]:
a=0
while a<=10:
    a +=1
    print (a)

1
2
3
4
5
6
7
8
9
10
11

In [5]:
#sum 1-10 using while loop
a=0
x=0
while a <10:
    a+=1
    x=x+a
print(x)

55

In [7]:
a=0
while a<5:
    a+=1
    print(a)

1
2
3
4
5

In [9]:
#pass does nothing and contiues the loop if failing. its kind of placeholder
a='yash'
for x in a:
   # print(x)

SyntaxError: unexpected EOF while parsing (<ipython-input-9-f005177ede27>, line 4)

In [10]:
a='yash'
for x in a:
  pass
print('no failure')

no failure

In [15]:
#Continue just continues the loop if condition is matched, and skipped mentioned condition
name='yash'
for x in name:
    if x=='a':
        continue
    print(x)

y
s
h

In [16]:
#Break will break the loop if condition is match and break the lopp if matches the condition
name='yash'
for x in name:
    if x=='s':
        break
    print(x)

y
a

In [17]:
#userful operator

In [20]:
lists = [1,2,3,4,5]
for a in list:
    print(a)

1
2
3
4
5

In [25]:
for x in range(10):
    print (x)

0
1
2
3
4
5
6
7
8
9

In [37]:
#
#range(start,stop,[step])
for x in range(0,10,2):
    print (x)

0
2
4
6
8

In [36]:
for x in range(0,10,3):
    print (x)

0
3
6
9

In [42]:
range(0,10,2)

range(0, 10, 2)

In [2]:
list(range(0,11,3))

[0, 3, 6, 9]

In [6]:
index_count=0
for a in 'abcdefghijk':
    print('for index {} the letter is {}'.format(index_count,a))
    index_count+=1

for index 0 the letter is a
for index 1 the letter is b
for index 2 the letter is c
for index 3 the letter is d
for index 4 the letter is e
for index 5 the letter is f
for index 6 the letter is g
for index 7 the letter is h
for index 8 the letter is i
for index 9 the letter is j
for index 10 the letter is k

In [7]:
index_count=0
word='sadfghjklkjh'
for a in word:
    print(word[index_count])
    index_count+=1

s
a
d
f
g
h
j
k
l
k
j
h

In [1]:
index_count=0
word=input('Enter any name ')
for a in word:
    print(word[index_count])
    index_count+=1

Enter any name Yash
Y
a
s
h

In [2]:
#do the same as above using enumerator
word=input('Enter any name ')
for a in enumerate(word):
    print(a)

Enter any name Hello World
(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'W')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

In [6]:
#since above is tuple we can use tuple unpacking
word=input('Enter any name ')
for a,b in enumerate(word):
    print(a) # will print 01234
    print(b) # will print input u gave
    print('\n')

Enter any name Yash
0
Y


1
a


2
s


3
h

In [7]:
#zip 
list1=[1,2,3]
list2=['a','b','c']
for i in zip(list1,list2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [8]:
#since output is touple, we can use touple unpacking
for key, value in zip(list1,list2):
    print(key)

1
2
3

In [9]:
for key, value in zip(list1,list2):
    print(value)

a
b
c

In [10]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [11]:
#in
2 in [1,3,4,2]

True

In [12]:
'a' in 'Yash'

True

In [15]:
'key1' in {'key1':1234}

True

In [17]:
x={'key1':1234}
1234 in x.keys()

False

In [18]:
x={'key1':1234}
1234 in x.values()

True

In [20]:
list3=[1,3,45,57,4,2,1,23,4,6,7,34521,1,9,4,0,3,45,32,435,1]
print(min(list3))
print(max(list3))

0
34521

In [24]:
from random import shuffle
shuffle(list3)
list3

[4, 34521, 4, 32, 435, 1, 57, 7, 9, 1, 6, 3, 3, 23, 45, 45, 0, 4, 1, 2, 1]

In [25]:
list3

[4, 34521, 4, 32, 435, 1, 57, 7, 9, 1, 6, 3, 3, 23, 45, 45, 0, 4, 1, 2, 1]

In [26]:
list3

[4, 34521, 4, 32, 435, 1, 57, 7, 9, 1, 6, 3, 3, 23, 45, 45, 0, 4, 1, 2, 1]

In [1]:
#list comprehensions in LIST

In [9]:
#converting strings to list using for loop
mystring ='Yash Srivastava'
mylist=[]
for a in mystring: # a is just temp variable
    mylist.append(a)
mylist

['Y', 'a', 's', 'h', ' ', 'S', 'r', 'i', 'v', 'a', 's', 't', 'a', 'v', 'a']

In [11]:
#converting strings to list using for list comprehension
mystring1='Yash Srivastava'
mylist1=[ a for a in mystring] # a is just temp variable
mylist1

['Y', 'a', 's', 'h', ' ', 'S', 'r', 'i', 'v', 'a', 's', 't', 'a', 'v', 'a']

In [12]:
#another example of above
mylist2=[ a for a in 'Yash Srivastava'] # a is just temp variable
mylist2

['Y', 'a', 's', 'h', ' ', 'S', 'r', 'i', 'v', 'a', 's', 't', 'a', 'v', 'a']

In [15]:
#another example with range
mylist3= [a for a in range(0,10)]
mylist3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
#more example if you want to square of every number in range from 0 -10.
mylist4= [a**2 for a in range(0,10)]
mylist4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
#example to fetch even number, use of if in above statement
mylist5= [a for a in range(0,10) if a%2==0]
mylist5

[0, 2, 4, 6, 8]